:root {
    --title: 'ExpandedCuber';
    --font: 'Avignon', sans-serif;
    --C1: rgb(130, 0, 216);
    --C2: rgb(0, 225, 255);
    --StreamingColor: rgb(78, 0, 180);
    --Online: rgb(0, 255, 136);
    --Idle: rgb(0, 99, 156);
    --Unavailable: rgb(228, 15, 0);
    --Offline: rgb(90, 95, 100);
    --Playing: url("https://goldenlys.github.io/ThemeGen/img/playing.jpg");
    --Xbox: url("https://goldenlys.github.io/ThemeGen/img/xbox.jpg");
    --Spotify: url("https://goldenlys.github.io/ThemeGen/img/spotify.jpg");
    --Streaming: url("https://goldenlys.github.io/ThemeGen/img/twitch.jpg");
    --grey: rgb(77, 70, 85);
    --grey5: rgba(77, 70, 85, 0.5);
    --darkgrey: rgb(18, 18, 18);
    --darkgrey5: rgba(14, 14, 14, 0.75);
    --time: 5s;
    --TitleBG: var(--darkgrey5);
    --Sidebar: var(--darkgrey5);
    --ChatBox: var(--darkgrey5);
    --SendMessage: var(--darkgrey);
    --HoverMessage: var(--darkgrey5);
    --JoinUs: 'JOIN';
    --AddNewServer: '➕ Add a server idot';
    --Close: '🔴';
    --Resize: '🔵';
    --Hide: '⚫';
    --ProfilePic: 'Ur ugly';
    --Unread: '✋';
    --Options: '⚙️';
    --Channel: '💬';
    --Voice: "🔊";
    --Announcement: "📣";
    --Stage: "📺";
    --Micro: "🎙️";
    --Headset: "🎧";
    --Emoji: '🙂';
    --EmojiHover: '😜';
    --Community: 'purpies';
    --EditStatus: 'Type your status dumy';
    --WriteMessage: 'Type your message dumy';
    --TaggedName: 'ANNOYING';
    --ListenAlong: 'Listen Along m8';
    --Folders: '📁';
    --FoldersOpen: '🔴';
    --ServerSize: 45px;
    --ServerColumns: 1;
    --version: '3.7';
    --Highlighted: var(--grey5);
    --ActiveBox: rgb(0, 255, 136);
}
